
@{
    Layout = null;

}
<a href="/DefaultController/Urunler">Urunler Sayfsı</a>
<a href="/DefaultController1/Musteriler">Museteriler Sayfsı</a>
<h1>Ürünler Sayfası</h1>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h1>Toplama İşlemi</h1>
<h3>@ViewBag.t</h3>
<h1>Kare Çevre İşlemi</h1>
<h3>@ViewBag.c</h3>
<h1>Faktöriyel Hesaplama İşlemi</h1>
<h3>@ViewBag.F</h3>
